@model List<SignalRWebUI.Dtos.DiscountDtos.ResultDiscountDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Discount Settings</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">List of Discount</div>
                    </div>
                    <div class="card-body">
                        <div class="card-sub">
                            You can handle the discount-related tasks below.
                        </div>
                        <table class="table mt-3">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Product Name</th>
                                    <th scope="col">Discount Rate</th>
                                    <th scope="col">Discount Status</th>
                                    <th scope="col">Delete</th>
                                    <th scope="col">Update</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.DiscountID</td>
                                        <td>@item.Title</td>
                                        <td>@item.Amount</td>

                                        <td>@Html.ActionLink("Status", "DeleteDiscount", "Discount", new { id = @item.DiscountID }, new { @class = "btn btn-secondary" })</td>
                                        <td>@Html.ActionLink("Delete", "DeleteDiscount", "Discount", new { id = @item.DiscountID }, new { @class = "btn btn-danger" })</td>
                                        <td>@Html.ActionLink("Update", "UpdateDiscount", "Discount", new { id = @item.DiscountID }, new { @class = "btn btn-warning" })</td>

                                    </tr>
                                }
                            </tbody>
                        </table>
                        <a href="/Discount/CreateDiscount" class="btn btn-outline-primary">Create a New Discount</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>